@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  min-width: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: url(./assets/f6fdc45b-48c0-402c-8eb5-30067240ed5a.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
}
#emptyWishlistsBg{
  background-image: url('./assets/alex-lee-rWrfmXcO3NU-unsplash.jpg');
  background-position: center;
  background-size: cover;
  color: yellow;
  font-weight: bolder;
  border: 2px dashed black;
}
#cardsBg{
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-left: 3px solid rgb(255, 255, 255, 0.2);
  border-right: 3px solid rgb(255, 255, 255, 0.2);
  border-bottom: 3px solid rgb(255, 255, 255, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#Navbar{
  position: fixed;
  height: 80px;
  background-color: black;
  width: 100%;
  #navoptions:hover{
    color: #daa520;
  }
}
#wishlist:hover{
  transition: 0.2s;
  color: #daa520;
  cursor: pointer;
}
#cart:hover{
  transition: 0.2s;
  color: #daa520;
  cursor: pointer;
}
#root{
  display: flex;
  flex-direction: column;
}
#categories{
  color: white;
}
